*.tfrecords
*.pyc
Resnet_Code/Resnet_on_sfa/32_by_32_faces_train
Resnet_Code/Resnet_on_sfa/Backup
Resnet_Code/Resnet_on_sfa/Previous_attempts
Resnet_Code/Resnet_on_sfa/best_dir
Resnet_Code/Resnet_on_sfa/new_eval_on_training
Resnet_on_full_dataset/Resnet_on_full_sfa/32_by_32_faces_train
Resnet_on_full_dataset/Resnet_on_full_sfa/Backup
Resnet_on_full_dataset/Resnet_on_full_sfa/Previous_attempts
Resnet_on_full_dataset/Resnet_on_full_sfa/best_dir
Resnet_on_full_dataset/Resnet_on_full_sfa/new_eval_on_training